<div class="row" style="background-color: #ffeae3;">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-5">
                <div class="card" style="background-color: #ffeae3; border: none;">
                    <img class="mx-auto d-block" src="../../images/lotteria_logo.svg" width="85">
                    <div class="card-body">
                        <h5 class="card-title text-center">Đăng ký nhận thông tin khuyến mại</h5>
                        <form>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Nhập email của bạn"
                                    class="form-control">
                            </div>
                            <button type="submit">Gửi ngay -> </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2.5">
                <div class="card" style="background-color: #ffeae3; border: none;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-left: 15px;">THÔNG TIN</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Tin tức</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Khuyến
                                mại</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Tuyển
                                dụng</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Nhượng
                                quyền</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2.5">
                <div class="card" style="background-color: #ffeae3; border: none;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-left: 15px;">HỖ TRỢ</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Điều khoản sử
                                dụng</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Chính sách
                                bảo mật</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Chính sách
                                giao hàng</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;">Chăm sóc
                                khách hàng</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2.5">
                <div class="card" style="background-color: #ffeae3; border: none;">
                    <div class="card-body">
                        <h5 class="card-title" style="margin-left: 15px;">THEO DÕI</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;"><i
                                    class="fab fa-facebook-square"></i> Facebook</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;"><i
                                    class="fab fa-instagram"></i> Instagram</a>
                            <a href="#" class="list-group-item list-group-item-action"
                                style="background-color: #ffeae3; border: none; height: 35px;"><i
                                    class="fas fa-globe"></i> Zalo</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border border-800">
        <div class="text-center" style="font-weight: bold;">Phan Thị Hoa Phượng PH26412</div>
        <br>
    </div>
</div>