<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top" data-navbar-on-scroll="data-navbar-on-scroll">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentXL"
            aria-controls="navbarSupportedContentXL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand h6" href="#home">
            <img class="d-inline-block d-inline-flex" src="../../images/lotteria_logo.svg" width="80" alt="logo"
                style="padding-right: 5px;" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContentXL">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link h6" href="#home">TRANG CHỦ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h6" href="#gioithieu">GIỚI THIỆU</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle h6" href="" id="navbardrop" data-toggle="dropdown">
                        SẢN PHẨM
                    </a>
                    <div class="dropdown-menu" style="width: 500px;">
                        <div class="row">
                            <div class="col-md-4" style="border-right: 1px solid black;">
                                <a class="dropdown-item" href="#sanpham/bestSeller">Best Seller</a>
                                <a class="dropdown-item" href="#sanpham/khuyenMai">Khuyến mại</a>
                                <a class="dropdown-item" href="#sanpham/chicken"></span>Gà rán</a>
                            </div>
                            <div class="col-md-4" style="border-right: 1px solid black;">
                                <a class="dropdown-item" href="#">Burger</a>
                                <a class="dropdown-item" href="#">Combo - Value</a>
                                <a class="dropdown-item" href="#"></span>Cơm - Mì ý</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Phần ăn nhóm</a>
                                <a class="dropdown-item" href="#">Thức ăn nhẹ</a>
                                <a class="dropdown-item" href="#">Thức uống</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle h6" href="" id="navbardrop" data-toggle="dropdown">
                        DANH MỤC
                    </a>
                    <div class="dropdown-menu" style="width: 500px;">
                        <div class="row">
                            <div class="col-md-4" style="border-right: 1px solid black;">
                                <a class="dropdown-item" href="#danhmuc/quanlyBestSeller">Best Seller</a>
                                <a class="dropdown-item" href="#danhmuc/quanlyKhuyenMai">Khuyến mại</a>
                                <a class="dropdown-item" href="#"></span>Gà rán</a>
                            </div>
                            <div class="col-md-4" style="border-right: 1px solid black;">
                                <a class="dropdown-item" href="#">Burger</a>
                                <a class="dropdown-item" href="#">Combo - Value</a>
                                <a class="dropdown-item" href="#"></span>Cơm - Mì ý</a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Phần ăn nhóm</a>
                                <a class="dropdown-item" href="#">Thức ăn nhẹ</a>
                                <a class="dropdown-item" href="#">Thức uống</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle h6" href="" id="navbardrop" data-toggle="dropdown">
                        TÀI KHOẢN
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#acount"><span class="fas fa-grin-squint"
                                style="padding-right: 15px;"></span>Thông tin tài khoản</a>
                        <a class="dropdown-item" href="#address"><span class="fas fa-map-marker-alt"
                                style="padding-right: 15px;"></span>Địa chỉ giao hàng</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#lichsudonhang"><span class="fas fa-file-alt"
                                style="padding-right: 15px;"></span>Lịch sử đơn hàng</a>
                        <a class="dropdown-item" href="#"><span class="fas fa-heart"
                                style="padding-right: 15px;"></span>Thực đơn yêu thích</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#ykien"><span class="fas fa-comment-dots"
                                style="padding-right: 15px;"></span>Ý kiến khách hàng</a>
                        <a class="dropdown-item" href="#"><span class="fas fa-sync"
                                style="padding-right: 15px;"></span>Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>

        <form class="form-inline">

            <a href="#acount"><span class="fas fa-user rounded-circle text-body"
                    style="margin: 0 20px 0 20px; border: 1px solid black; line-height: 30px; width: 30px; text-align: center;"></span></a>
            <a href=""><span class="far fa-bell rounded-circle text-body"
                    style="margin-right:20px; border: 1px solid black; line-height: 30px; width: 30px; text-align: center;"></span></a>
            <a href="#giohang"><span class="fas fa-cart-plus rounded-circle text-body"
                    style="border: 1px solid black; line-height: 30px; width: 30px; text-align: center;"></span></a>
        </form>
    </div>
    </div>
</nav>